<%-include('layouts/header.ejs')%>

    <h2>문의 목록 입니다.</h2>

    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>phone</th>
            <th>email</th>
            <th>memo</th>
            <th>create_at</th>
            <th>modify_at</th>
        </tr>
        <% lists.forEach(function(item) { %>
        <tr>
            <td><%=item.id%></td>
            <td><%=item.name%></td>
            <td><%=item.phone%></td>
            <td><%=item.email%></td>
            <td><%=item.memo%></td>
            <td><%=item.create_at%></td>
            <td><%=item.modify_at%></td>
        </tr>
        <%})%>

    </table>

<%-include('layouts/footer.ejs')%>