<%-include('layouts/header.ejs')%>

    <h2>문의 목록 입니다.</h2>

    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>phone</th>
            <th>email</th>
            <th>memo</th>
            <th>status</th>
            <th>create_at</th>
            <th>modify_at</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
        <% lists.forEach(function(item) { %>
        <tr>
            <td><%=item.id%></td>
            <td><%=item.name%></td>
            <td><%=item.phone%></td>
            <td><%=item.email%></td>
            <td><%=item.memo%></td>
            <td><%=item.status%></td>
            <td><%=item.create_at%></td>
            <td><%=item.modify_at%></td>
            <td>
                
                <button type="button" onclick="updateContact(<%=item.id%>)">UPDATE</button>
                
            </td>
            <td>
        
                <button type="button" onclick="deleteContact(<%=item.id%>)">DELETE</button>
                
            </td>
        </tr>
        <%})%>

    </table>

    <script>
        function updateContact(contactId){
            // AJAX를 사용하여 PUT 요청 보내기
            $.ajax({
                url: `/api/contactUpdate/${contactId}`,
                type: 'PUT',
                success: function(response){
                    // 수정 성공 시
                    alert("문의사항의 상태가 변경되었습니다.")
                    location.reload();
                },
                error: function(error){
                    // 오류 처리
                    console.error("업데이트 오류: ", error)
                }
            })
        }

        function deleteContact(contactId){
            $.ajax({
                url: `/api/contactDelete/${contactId}`,
                type: 'DELETE',
                success: function(response){
                    // 수정 성공 시
                    alert("문의사항의 상태가 삭제되었습니다.")
                    location.reload();
                },
                error: function(error){
                    // 오류 처리
                    console.error("삭제 오류: ", error)
                }
            })
        }
    </script>
<%-include('layouts/footer.ejs')%>